TG_TOKEN=
DB_HOST=postgres
DB_NAME=AcademySched
DB_USER=
DB_PASS=
POSTGRES_ROOT_PASSWORD=

# Additional (can be empty, service will be not available) 

# (if empty - weather will not be available), obtain key on weatherapi.com
WEATHER_TOKEN=

#bool (True/False/Not required) - Not recommended for production, uses background materials loading instead of waiting for them
FastStart=

# (see Readme to add a user with pre-fetch data)
PreFetchData='{}'


# Additional, Proxy
# UseProxy=[true/false]
# ProxyConnection=socks5://user:pass@IP:PORT