TG_TOKEN=
DB_HOST=postgres
DB_NAME=AcademySched
DB_USER=
DB_PASS=
POSTGRES_ROOT_PASSWORD=

# Additional (can be empty, service will be not available) 

# (if empty - weather will not be available), obtain key on weatherapi.com
WEATHER_TOKEN=

#bool (True/False/Not required) - Not recommended for production, uses background materials loading instead of waiting for them
FastStart=

# (see Readme to add a user with pre-fetch data)
PreFetchData='{}'


# Additional, Proxy (Supports: Socks5E, Socks5, Socks4, Socks4a, HTTP/S)
# UseProxy=[true/false]
# ProxyConnection=
        # socks5e://user:pass@IP:PORT
        # socks5://user:pass@IP:PORT
        # socks4://user:pass@IP:PORT
        # http://user:pass@IP:PORT

