TG_TOKEN=
DB_HOST=postgres
DB_NAME=AcademySched
DB_USER=
DB_PASS=
POSTGRES_ROOT_PASSWORD=

# Additional (can be empty, service will be not available) 

# (if empty - weather will not be available), obtain key on weatherapi.com
WEATHER_TOKEN=

# (see Readme to add a user with pre-fetch data)
PreFetchData='{}'