.dither {
    background: red;
    mask-image:
        linear-gradient(to right, black 50%, transparent 50%);
    mask-composite: intersect;
}


@property --radius {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

.dithering {
  --size: 0.5px;
  --mouse-x: 0px;
  --mouse-y: 0px;
  
  --radius: 200px; 
  
  transition: --radius 0.3s ease-out !important;

  mask-image:
    radial-gradient(circle var(--radius) at var(--mouse-x) var(--mouse-y), transparent 60%, #000 100%),
    linear-gradient(90deg, #000 50%, rgb(0 0 0 / 20%) 0),
    linear-gradient(#000 50%, rgb(0 0 0 / 20%) 0);

  mask-size: 
    100% 100%, 
    var(--size) var(--size), 
    var(--size) var(--size);

  mask-composite: add, intersect;
  -webkit-mask-composite: source-over, source-in;
}